body{
    font-family: Arial, Helvetica, sans-serif;

}

a{
    color: red;
    text-decoration: none;
    font-weight: bold ;
}

a:visited{
    color: rgb(0, 139, 19);
}

a:hover{
    text-decoration: underline;
    color: black;
}

a:active{
    color: yellow;
}

a::after{
    content: '[link]';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}